# ---> C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pdb

*.cake.*
cakelisp_cache/

bin/
lib/

*.blend1

*.log

test/data/Models/*

imgui.ini

UserData.bin
UserData.cakedata
UserData_TestWrite.cakedata

# TODO Make this less general
*.txt

.vs/

space-factory